#container
  
  #titlebar 
    #top 
      Etno-cudaki 
    #down  
      Strachy inspirowane poslkim folklorem 
    %li.nav
      %ul 
        = link_to 'galeria'
      %ul 
        = link_to 'co to jest? '
  #maincontainer
    #left
      #leftbar
      #canvas
        #canvascontainer
        #formcanvas
    #right
      #rightimage
      #rightbar
      #description
  
  