%h1 
  canvas
%table
  %tr
    %td
      %ul
        %li
          =image_tag 'tulow_ziemia.png', size: '50', id: 'ziemia'
        %li
    %td  
      #canvascontainer
        #canvas{ data: @coord}
          loading canvas...
    %td{ id: "img_here"}
      %img{ src: '', id: 'rpimg'}
      
    %td
      %ul
        %li
          =image_tag 'mamuna.png', size: '50', id: 'mamuna'
