// Place all the styles related to the canv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvascontainer{
  width: 100%;
}
#canvas {
  border: 1px solid #000;
  width: 500px;
  height: 500px;
}
/*****************************************************
 * generic styling for ALS elements: outer container
 ******************************************************/

.als-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  z-index: 0;
}

/****************************************
 * viewport styling
 ***************************************/

.als-viewport {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  background-color: black;
}

/***************************************************
 * wrapper styling
 **************************************************/

.als-wrapper {
  position: relative;
  /* if you are using a list with <ul> <li> */
  list-style: none;
}

/*************************************
 * item: single list element
 ************************************/

.als-item {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
//  float: left;
}

/***********************************************
 * prev, next: buttons styling
 **********************************************/
 
.als-prev, .als-next {
//  position: absolute;
  cursor: pointer;
  clear: both;
}
#als-list .als-item {

  min-height: 50px;
  min-width: 50px;
  text-align: center;
}
#als-list {
  visibility: hidden;
}
#als-list .als-item img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

*:-khtml-drag{
  background-color: rgba(238,238,238,1);
}

      body{
      font-family:Signika;
      }
      table{
       
      }
      td{
       border:0px solid black;
      }
      div .small {
          border: 2px solid black;
          border-radius: 15px;
          width: 80px;
          height: 80px;
          margin-left:15px;
      }
      
      div .smalltext {
          margin-top:10px;
          border: 2px solid black;
          border-radius: 10px;
          width: 80px;
          height: 25px;
      margin-left:15px;
      }
      
      div .mainwindow{
          border: 2px solid black;
          border-radius: 10px;
          width: 500px;
          height: 500px;
          background-color: #e9edce;
      }
      
      
      div .descwindow{
          border: 2px solid black;
          border-radius: 10px;
          width: 438px;
          height: 130px;
          background-color: #e9edce;
      margin-top: 10px;
      margin-left:15px;
      }
      
      div .mainsmall{
          margin-top: 9px;
          margin-left:15px;
          border: 2px solid black;
          border-radius: 10px;
          width: 438px;
          height: 441px;
          background-color: #e9edce;
      }
      
      div .titlewindow{
          
      }
      
      .btn {
      
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        font-size: 18px;
        background: #c7b299;
        padding: 7px 7px 7px 7px;
        text-decoration: none;
      display:inline-block;
        vertical-align:middle;
        margin-top:6px;
        margin-left: 10px;
        border:2px solid black;
      }
      
      .btn:hover {
        text-decoration: none;
      }
      
      input[type=text]{
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
          border: none;
      border: 2px solid black;
      border-style: dashed;
      margin-top:10px;
          border-radius: 10px;
          width: 400px;
          float:left;
          height: 28px;
      display:inline-block;
        vertical-align:middle;
      }
ul{
  list-style: none;
}
#list{
  height: 530px;
  overflow: hidden;
  margin: 10px;
}
#list ul li{
  padding: 10px;
  
}
#desc {
  margin-top: 0px;
  font-size: 14px;
}
#align{
  vertical-align: center;
}
